@import "reset";
@import "./variables";
@import "./themes/dark";
@import "./themes/light";
@import "src/shared/ui/styles/mixins/globalMixins";
@import "react-toastify/dist/ReactToastify.css";

@font-face {
	font-family: Leelawadee;
	src: url("./fonts/Leelawadee.ttf");
}

.app {
	@include grid-background;

	min-height: 100svh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
	background-color: var(--main-bg-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Leelawadee";
}
