:root {
	--font-size-ll: 48px;
	--font-size-l: 32px;
	--font-size-m: 28px;
	--font-size-s: 18px;
	--font-size-ss: 12px;
	--large-border-radius: 18px;
	--medium-border-radius: 14px;
	--small-border-radius: 7px;
	--chat-message-border-radius: 30px;
	--header-height: 100px;
	--sidebar-close-width: 150px;
	--sidebar-open-width: 400px;
	--global-margin: 178px;
	--font-main-blin: "Blinker", sans-serif;
	--third-main-leel: "Leelawadee", sans-serif;
}

@media (width <= 1440px) {
	:root {
		--header-height: 80px;
		--font-size-ll: 32px;
		--font-size-l: 28px;
		--font-size-m: 20px;
		--font-size-s: 16px;
		--font-size-ss: 12px;
		--sidebar-close-width: 70px;
		--sidebar-open-width: 250px;
		--global-margin: 100px;
	}
}
