:root {
	--font-size-ll: 48px;
	--font-size-l: 32px;
	--font-size-m: 28px;
	--font-size-s: 18px;
	--font-size-ss: 12px;

	--2large-border-radius: 24px;
	--large-border-radius: 18px;
	--medium-border-radius: 14px;
	--small-border-radius: 7px;
	--chat-message-border-radius: 30px;

	--sidebar-close-width: 150px;
	--sidebar-open-width: 400px;

	--global-margin: 178px;

	--font-main-Blin: "Blinker", sans-serif;
	--third-main-Leel: "Leelawadee", sans-serif;

	--font-main-Blin: "Blinker", sans-serif;
	--third-main-Leel: "Leelawadee", sans-serif;
}

@media (max-width: 1440px) {
	:root {
		--font-size-ll: 32px;
		--font-size-l: 28px;
		--font-size-m: 20px;
		--font-size-s: 16px;
		--font-size-ss: 12px;
		--sidebar-close-width: 70px;
		--sidebar-open-width: 250px;
		--global-margin: 100px;
	}
}
