.Profile {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: minmax(215px, min-content) minmax(370px, min-content) minmax(325px, min-content) / 2fr 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 28px;
  
  padding: 0px 178px;
  border-radius: var(--2large-border-radius);
  justify-content: start;
}
