.user-card {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	height: min-content;
}

.user-card-info {
	display: flex;
	column-gap: 24px;
}

.user-card-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.user-card-user-info {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.user-card-name {
	font-family: var(--font-main-blin);
	font-size: var(--font-size-ll-desktop);
	font-weight: bold;
	color: var(--white-color);
}

.user-card-detail {
	display: flex;
	align-items: center;
	font-size: var(--font-size-s-desktop);
	font-family: var(--third-main-leel);
	column-gap: 6px;
}

.avatar {
	position: relative;
}

.avatar-img {
	width: 150px;
	height: 150px;
	background: white;
	border-radius: 100%;
}

.avatar-menu {
	opacity: 0;
	position: absolute;
	transition: opacity 0.3s ease;
	inset: 0;
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 10px;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;

	&:hover {
		opacity: 1;
	}

	& > button {
		width: 100%;
	}
}
