:root {
	--font-size-ll-mobile: 22px; // bold
	--font-size-mm-mobile: 20px; // bold
	--font-size-l-mobile: 18px;
	--font-size-m-mobile: 16px;
	--font-size-s-mobile: 12px;

    --font-size-ss-desktop: 28px;  // bold
    --font-size-mm-desktop: 32px;  // bold
    --font-size-ll-desktop: 48px;  // bold
    --font-size-l-desktop: 26px;
    --font-size-m-desktop: 24px;
    --font-size-s-desktop: 20px;
    --font-size-smallest-desktop: 14px;

    --2large-border-radius: 24px;
    --large-border-radius: 18px;
    --medium-border-radius: 14px;
    --small-border-radius: 7px;
    --chat-message-border-radius: 30px;

    --font-main-Blin: "Blinker", sans-serif;
    --third-main-Leel: "Leelawadee", sans-serif;

	--font-main-Blin: "Blinker", sans-serif;
	--third-main-Leel: "Leelawadee", sans-serif;
}
