:root {
    --font-size-l: 24px;
    --font-size-m: 16px;
    --font-size-s: 12px;

    --main-black: #171717;
    --our-gran-color: #909090;
    --white-color: #f7f7f7;
    --red: #ff1313;

    --font-main-Blin: "Blinker", sans-serif;
    --third-main-Leel: "Leelawadee", sans-serif;

    --main-gradient: linear-gradient(180deg, #5347e5 0%, #7200e3 100%);
    --colorful-gradient: linear-gradient(135deg, #f03cff 0%, #00ffb2 100%);
    --main-cool-gradient: linear-gradient(132deg, #1d3eea 0%, #c818d7 100%);
}