.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.visibility-list {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	> select {
		appearance: none;
		border-right: none;
	}

	&__people {
		display: flex;
		border-right: 1.5px solid var(--white-color);
		padding: 8px 24px 8px 4px;
		border-radius: var(--medium-border-radius);
		font-size: var(--font-size-smallest-desktop);
		font-weight: bold;
		font-family: var(--third-main-leel);
		background: var(--white-color-04);
		outline: none;
		transition: 0.4s;

		&:hover {
			background: var(--white-color);
		}

		&::-webkit-appearance,
		&::-moz-appearance {
			display: none;
		}
	}

	&__time {
		display: flex;
		align-items: center;
		column-gap: 12px;
		padding: 8px 12px;

		> h6 {
			font-size: var(--font-size-s-desktop);
		}

		&2 {
			padding: 6px;
			border-radius: var(--medium-border-radius);
			color: var(--bg-secondary-black-focus-color);
			background: var(--white-color-04);
			transition: 0.4s;

			&:hover {
				color: var(--main-black);
				background: var(--white-color);
			}

			&::-webkit-calendar-picker-indicator {
				font-size: 20px;
			}
		}
	}
}

.interactivity-list {
	width: 200px;
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding-right: 4px;

	&__item {
		> button {
			background: none;
		}
	}

	&__items {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__specBtn {
		display: flex;
		align-items: center;
		padding-left: 16px;
		border-left: 1.5px solid var(--white-color);
	}
}
