.page {
	height: 100%;
}

.user-left {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.user-right {
	padding-right: 10px;
}

.user-wrapper {
	padding: 10px 0;
}

.user-item {
	height: 100%;
	background: rgba($color: #000, $alpha: 30%);
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-avatar {
	height: 100%;
	aspect-ratio: 1 / 1;
}

.user-title {
	font-size: var(--font-size-l);
}

.more-menu-items {
	display: flex;
	flex-direction: column;
	background-color: rgba($color: #000, $alpha: 30%);
	padding: 10px;
	border-radius: 15px;
	gap: 5px;
	color: white;
	font-size: var(--font-size-m);

	& > * {
		text-align: left;
	}
}

.more-menu-button {
	background-color: transparent;
}
