@import "src/shared/ui/styles/mixins/globalMixins.scss";

.sidebar {
	width: var(--sidebar-close-width);
	height: 100%;
	overflow: hidden;
	transition: all 0.5s ease;
	background: var(--main-bg-color);
	@include grid-background();
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}

.header {
	display: flex;
	gap: 10px;
	padding: 10px 15px;
}

.header_links {
	display: none;
	flex-direction: column;
}

.username {
	display: none;
	font-size: var(--font-size-ll);
}

.navbar {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s ease;
}

.title {
	display: none;
}

.navLink {
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	display: flex;
	gap: 0;
	padding: 5px 15px;
	font-family: var(--third-main-Leel);
	font-size: var(--font-size-m);
	user-select: none;
	background-image: var(--main-cool-gradient);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	transition: all 0.3s ease;
	align-items: center;
}

.navLinkActive {
	-webkit-background-clip: border-box;
	background-clip: border-box;
	background-color: var(--primary-color);
	color: var(--primary-color);

	.logo > svg {
		width: 80px;
		height: 80px;
	}
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.logo > svg {
	width: 45px;
	height: 45px;
	fill: var(--primary-color);
	transition: all 0.5s ease;
}

.sidebar:hover {
	width: var(--sidebar-open-width);
	align-items: start;

	.username {
		display: flex;
	}

	.header_links {
		display: flex;
	}

	.title {
		display: flex;
	}

	.navbar {
		align-items: start;
	}

	.navLink {
		justify-content: start;
		text-align: left;
		gap: 10px;
	}

	.navLinkActive > .logo > svg {
		width: 45px;
		height: 45px;
	}
}

@media (max-width: 1440px) {
	.sidebar {
		gap: 30px;
	}
	.avatar {
		width: 60px;
		height: 60px;
	}

	.logo > svg {
		width: 30px;
		height: 30px;
	}

	.logo > svg {
		width: 30px;
		height: 30px;
	}

	.navLinkActive {
		.logo > svg {
			width: 45px;
			height: 45px;
		}
	}

	.sidebar:hover {
		.navLinkActive {
			.logo > svg {
				width: 30px;
				height: 30px;
			}
		}
	}
}
