@import "src/shared/ui/styles/mixins/globalMixins";

.sidebar {
	z-index: 100;
	width: var(--sidebar-close-width);
	height: calc(100% - var(--header-height));
	overflow: hidden;
	transition: all 0.5s ease;
	background: var(--main-bg-color);
	position: fixed;
	top: var(--header-height);
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 3px solid var(--primary-color);
	@include grid-background;
}

.title {
	display: none;
}

.nav-link {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	width: 100%;
	padding: 5px 15px;
	font-family: var(--third-main-leel);
	font-size: var(--font-size-m);
	user-select: none;
	background-image: var(--main-cool-gradient);
	color: transparent;
	background-clip: text;
	transition: all 0.3s ease;

	.logo > svg {
		width: 45px;
		height: 45px;
		fill: var(--primary-color);
		transition: all 0.5s ease;
	}
}

.nav-link-active {
	background-clip: border-box;
	background-color: var(--primary-color);
	color: var(--primary-color);
}

.sidebar:hover {
	width: var(--sidebar-open-width);
	.title {
		display: flex;
	}

	.navbar {
		align-items: start;
	}

	.nav-link {
		justify-content: start;
		text-align: left;
		gap: 10px;
	}
}

@media (width <= 1440px) {
	.avatar {
		width: 60px;
		height: 60px;
	}

	.logo > svg {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 1200px) {
	.nav-link {
		flex-direction: column;
		height: 100%;
	}
	.sidebar {
		flex-direction: row;
		gap: 0;
		width: 100dvw;
		top: calc(100dvh - var(--sidebar-close-width));
		right: 0;
		left: 0;
		height: var(--sidebar-close-width);
		border-left: 0;
		border-top: 3px solid var(--secondary-color);
	}

	.sidebar:hover {
		width: 100dvw;
		height: var(--sidebar-close-width);

		.title {
			display: none;
		}
		.nav-link {
			justify-content: center;
			text-align: center;
		}
	}
}
