
.dropdown-items {
  z-index: 1000000;
}

.menuButton {
  background-color: transparent;
}
.avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

@media (max-width: 1440px) {
	.avatar {
		width: 60px;
		height: 60px;
	}
  }
