@import "src/shared/ui/styles/mixins/globalMixins";

.grid-layout {
	width: 100%;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	background: var(--main-bg-color);
}

.header {
	grid-column-start: 1;
	grid-column-end: 3;
}

.mainBg {
	grid-row-start: 2;
	grid-column-start: 1;
	flex-shrink: 2;
	padding: 48px 0;
	@include grid-background;
}

.main {
	display: grid;
	grid-template-rows: 1fr;
	width: 1200px;
	margin: 0 auto;
	min-height: 100%;
}

.aside {
	position: fixed;
	right: 0;
	top: 0;
	width: var(--sidebar-close-width);
	height: 100%;
}

@media (max-width: 1200px) {
}
