@import "src/shared/ui/styles/mixins/globalMixins";

.layout {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	background: var(--main-bg-color);
	position: relative;
}

.header {
	position: relative;
	height: var(--header-height);
}

.main-bg {
	width: 100%;
	padding: 48px 0;
	margin: 0 auto;
	@include grid-background;
	flex: 1 1 auto;
	display: flex;
}

.aside-wrapper {
	position: absolute;
	width: 100%;
}

.main {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 1440px) {
	.main-bg {
		padding-left: 10px;
		padding-right: calc(var(--sidebar-close-width) + 10px);
	}
	.main {
		max-width: 1200px;
		margin: 0 auto;
	}
}

@media (max-width: 1200px) {
	.main-bg {
		padding: 0;
	}
	.aside-wrapper {
		height: var(--sidebar-close-width);
		position: relative;
	}
}
