.friends-page {
	display: grid;
	grid-template-columns: 700px 1fr;
	gap: 48px;
	height: 100%;
}
.navbar-wrapper {
	position: relative;
}

@media (max-width: 1200px) {
	.friends-page {
		display: flex;
		flex-direction: column-reverse;
		justify-content: start;
	}
}
