.Input {
	border-radius: var(--medium-border-radius);
	padding: 15px 20px;
	color: var(--white-color);
	width: 100%;
	background: var(--bg-secondary-color);
	transition: 0.2s;

	&:hover {
		background: var(--bg-secondary-hover-color);
	}

	&:focus {
		background: var(--bg-secondary-focus-color);
	}

	&::placeholder {
		font-family: var(--font-main-Blin);
		font-weight: 600;
		color: rgb(255 255 255 / 80%);
	}
}

.Input.SMALL {
	font-size: var(--font-size-ss);
	border-radius: var(--small-border-radius);
	padding: 10px 15px;
}
