.chat-card {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding: 20px 28px;
	margin: 12px;
	border-radius: var(--large-border-radius);
	background: var(--main-cool-gradient);
}

.header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 24px;
}

.avatar {
	border-radius: 100%;
}

.button {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--small-border-radius);
	margin: 6px 0;
	padding: 12px 0;
	user-select: none;
	background-color: var(--main-bg-color);
	color: var(--primary-color);
}
