<<<<<<< HEAD
.CreatePostForm {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-radius: var(--medium-border-radius);
  padding: 32px 24px;
  background: var(--main-gradient);
}
=======
.create-post-form {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	border-radius: var(--medium-border-radius);
	padding: 32px 24px;
	background: var(--main-gradient);
}
>>>>>>> f8f566c50428586b8a53cddf9f3ab9442c10424a
