@import 'src/shared/ui/styles/mixins/globalMixins.scss';


.aside{
  width: 150px;
  height: 100%;

  transition: .2s;
}
.asideActive{
  width: 500px;
  height: 100%;

  transition: .2s;
}
.AsideStroke{
  width: 100%;
  height: 100%;
  background-image: var(--main-gradient);
  padding-left: 2px;
}
.asideContent {
  @include grid-background();
  width: 100%;
  height: 100%;
  background-color: var(--main-black);
}
.navLink {
  display: flex;

  &__icon {

  }
}