.article {
	width: 600px;
	display: grid;
	grid-template: 65px 1fr 50px / 1fr;
	padding: 16px 12px;
	grid-row-gap: 16px;
	background: var(--main-gradient);
	border-radius: var(--large-border-radius);
}

.header {
	height: 65px;
	display: grid;
	grid-template: 1fr / 1fr 50px;
	justify-content: space-between;
	align-items: center;
}

.header-main {
	display: grid;
	height: 65px;
	grid-template: 25px 20px 1fr / 65px 1fr;
	align-items: start;
	justify-content: start;
	gap: 6px 12px;
}

.header-user-avatar {
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: span 3;
	border-radius: 100%;
	background-color: white;
}

.header-article-data {
	display: flex;
	column-gap: 4px;
	align-items: center;
	height: 100%;
	font-family: var(--third-main-leel);
	font-size: var(--font-size-smallest-desktop);
}

.header-article-watcher {
	display: flex;
	column-gap: 2px;
	align-items: center;
}

.header-user-name {
	padding-top: 2px;
	font-size: var(--font-size-l-desktop);
	font-family: var(--font-main-blin);
}

.main {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.main-title {
	font-size: var(--font-size-l-desktop);
	font-weight: bold;
	font-family: var(--third-main-leel);
}

.main-content {
	font-size: var(--font-size-m-desktop);
	font-family: var(--third-main-leel);
}

.footer {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	justify-content: start;
}

.footer-interactive {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 14px;
}

.footer-interactive-btn {
	display: flex;
	align-items: center;
	column-gap: 6px;
	padding: 6px 16px;
	border-radius: var(--medium-border-radius);
	cursor: pointer;
}
