.block {
	padding: 40px 24px;
	height: max-content;
	border-radius: 24px;
}

.block.default {
	background: var(--bg-gradient-color);
}

.block.brighter {
	background: var(--colorful-gradient);
}

.block * {
	color: var(--white-color);
}
