.Input {
  border-radius: 14px;
  padding: 0px 12px;
  width: 400px;
  height: 60px;
  color: var(--white-color);

  background: rgba(0, 0, 0, 0.2);
  transition: .2s;
  &:hover{
    background: rgba(0, 0, 0, 0.3);
  }
  
  &:focus{
    background: rgba(0, 0, 0, 0.5);
  }

  &::placeholder{
    font-family: var(--font-main-Blin);
    font-weight: 600;
    font-size: var(--font-size-l-mobile);
    color: rgba(255, 255, 255, 0.8);
  }
}