.app.light {
    --bg-gradient-color: linear-gradient(180deg, #5347E5, #7200E3);

    --maib-bg-color: white;
    --main-black: #171717;
    --main-black-02: #17171737;
    --main-black-04: #1717176a;
    --our-gray-color: #909090;
    --our-gray-color-05: #9090907b;
    --white-color: #f7f7f7;
    --red: #ff1313;
    --primary-color: black;
}