.main-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	row-gap: 12px;
	width: max-content;
	margin: 0 auto;
}

.links-list {
	display: flex;
	justify-content: space-between;
	padding: 6px 8px;
}
