.page {
	display: flex;
	flex-direction: column;
	gap: 30px;
	text-align: center;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.bottom {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
