@import 'src/shared/ui/styles/mixins/globalMixins.scss';


.Sidebar {
    width: 100%;
    grid-row: span 2;
    grid-column-start: 2;
    width: 150px;
    height: 100%;

    transition: .2s;
}

.Sidebar:hover {
    width: 400px;
}

.AsideStroke {
    width: 100%;
    height: 100%;
    background-image: var(--main-gradient);
    padding-left: 2px;
}

.asideContent {
    @include grid-background();
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
}

.navLink {
    display: flex;
}